body{
    background-color: #f5f5f5;
}

header{
    background-color: #3c3c3c;
}

footer{
    background-color: #f5f5f5;
}

.btn{
    margin: 15px;
}

h3{
    border-top: 10px;
}

.btn-success{
    color: #087e8b;
}

.btn-danger{
    color: #ff5a5f;
}