{% extends "base.html" %}
{% block content%}

<h3>Add Wishlist to the database.</h3>

<form>
    <div class="mb-3">
        <label for="wishlist_title" class="form-label">Game Name</label>
        <input type="text" class="form-control" id="wishlist_title" name="wishlist_title" required>
      </div>
      <!--Create a way to add multiple titles to a single table using jinja coding
      Create the login screen and a way to validate future login attempts
      Add CRUD to titles and then to Wishlists
      Apply unique CSS and JS when appropriate
      Write readme
      Push successfully to heroku-->
      <div class="mb-3">
        <label for="titles" class="form-label">Publisher</label>
        <input type="text" class="form-control" id="titles" name="titles" required>
      </div>
      <div class="row">
        <div class="col m-3 center-align">
            <button type="submit" class="btn btn-success">
                Create wishlist <i class="fas fa-plus-square right"></i>
            </button> 
        </div>
    </div>
</form>

{% endblock %}