{% extends "base.html" %}
{% block content%}

<h3>Edit wishlist on the database</h3>

<form  method="POST" action="{{ url_for('main.edit_wishlist', wishlist_id = wishlist.id) }}"> 
    <div class="mb-3">
        <label for="wishlist_name" class="form-label">Wishlist Name</label>
        <input type="text" class="form-control" id="wishlist_name" value = "{{wishlist.wishlist_name}}" name="wishlist_name" required placeholder="30 characters max">
      </div>
      <div class="mb-3">
      <label for="title_id">Desired Titles</label>
      <select id = "titles"  name="titles[]" class="form-select" aria-label="Titles" required multiple>
        {% for title in all_titles%}
          <option value="{{title.id}}">{{title.game_title}}</option>
        {% endfor %}
      </select>
      </div>

      <div class="row">
        <div class="col m-3 center-align">
            <button type="submit" class="btn btn-success">
                Edit wishlist <i class="fas fa-plus-square right"></i>
            </button> 
        </div>
    </div>
</form>

{% endblock %}