{% extends "base.html" %}
{% block content%}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<div>
    <form  method="POST" action="{{ url_for('auth.login') }}">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <div class="row">
            <div class="col m-3 center-align">
                <button type="submit" class="btn btn-primary">
                    Log in <i class="fas fa-plus-square right"></i>
                </button> 
            </div>
        </div>
    </form>
<div>
{% endblock %}