{% extends "base.html" %}
{% block content%}

<div>
    <form  method="POST" action="{{ url_for('home') }}">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>
        <div class="row">
            <div class="col m-3 center-align">
                <button type="submit" class="btn btn-success">
                    Log in <i class="fas fa-plus-square right"></i>
                </button> 
            </div>
        </div>
    </form>
<div>
{% endblock %}