{% extends "base.html" %}
{% block content%}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<h3> My Titles </h3>

<div class="container">
    <div>
        <a href="{{ url_for('main.add_title') }}" class="btn btn-primary">
            Add a game title here!
        </a>
    </div>
</div>

<div class="container">
    {% for title in titles%}
    <div class = "col-3 d-inline-block">
      <div class="card">
          <div class="card-body">
            {% for user in users%}
              {% if title.author_id == user.id%}
                <h5 class="card-title">{{ title.game_title }} - {{user.name}}</h5>
                {% endif %}
            {% endfor %}
            <p class="card-text">
              <p><strong>Publisher:</strong> {{title.publisher}}</p>
              <p><strong>Developer:</strong> {{title.developer}}</p>
              <p><strong>Genre:</strong> {{title.genre}}</p>
              <p><strong>Price:</strong> £{{title.price}}</p>
              <p>{{title.description}}</p>
            </p>
            <a href="{{ url_for('main.edit_title', title_id = title.id) }}" class="btn btn-success">Edit title</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{title.id}}">
              Delete title
            </button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="{{title.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this title? This cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{{ url_for('main.delete_title', title_id = title.id) }}" class="btn btn-danger">Delete title</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock %}