{% extends "base.html" %}
{% block content%}

<h3> My Wishlists</h3>

<div class="container"> 
    <div>
        <a href="{{ url_for('add_wishlist') }}" class="btn btn-primary">
            Add a wishlist here!
        </a>
    </div>
</div>

{%for wishlist in wishlists%}
<h4>{{wishlist.wishlist_name}}</h4>
<div class="accordion" id={{wishlist.id}}>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{wishlist.id}}" aria-expanded="false" aria-controls="collapse_{{wishlist.id}}">
        {% for title in titles%}
            {% if title.id == wishlist.title_id%}
            <option value="{{title.id}}">{{title.game_title}}</option>
        </button>
      </h2>
      <div id="collapse_{{wishlist.id}}" class="accordion-collapse collapse" data-bs-parent="#{{wishlist.id}}">
        <div class="accordion-body">
            <p><strong>Publisher:</strong> {{title.publisher}}</p>
            <p><strong>Developer:</strong> {{title.developer}}</p>
            <p><strong>Genre:</strong> {{title.genre}}</p>
            <p><strong>Price:</strong> £{{title.price}}</p>
            <p>{{title.description}}</p>
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success">Edit Wishlist</button>
    <button type="button" class="btn btn-danger">Delete Wishlist</button>
    <br>
{% endfor %}

{% endblock %}